challenges/__pycache__/
challenges/migrations/
venv/
venv/**
data/**
data/
downloads/
downloads/**
graphhopper/
graphhopper/**
router/
router/**
routing_backend/
routing_backend/**
kozeptaj/
kozeptaj/**
search/
search/**
weather/
weather/**
commandline.txt
db.sqlite3
manage.py 
requirements.txt
test.py